[Unit]
Description=Growberry Automated Cultivation System
After=network.target

[Service]
ExecStart=/home/xdrake/growberry_v2/venv/bin/python app.py
WorkingDirectory=/home/xdrake/growberry_v2
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
